@import "../../vars.css";

.dashboardContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 40px;
    background-color: var(--color-background);
    height: 100vh;
}

h2 {
    color: var(--color-text);
    text-align: center;
    margin: 110px auto 0px auto;
    font-weight: 500;
    font-family: var(--font-primary, sans-serif);
}

.toggleContainer{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
}

.toggleContainer button {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    flex: 1;
    min-width: 100px;
    max-width: 240px;
}

.toggleContainer button.active {
    background-color: var(--color-primary);
    color: white;
}

.toggleContainer button:not(.active) {
    background-color: #e0e0e0;
    border: 4px solid var(--color-primary);
    color: #333;
}


.active {
  background-color: var(--color-primary);
  color: white;
}

@media (max-width: 375px) {
    h2 {
        font-size: 18px;
    }
    .dashboardContainer {
        padding: 20px;
    }
}
