:root {
--color-text: #222c3c;
--color-primary: #5582ca;
--color-secondary: #10B981;
--color-background: linear-gradient(135deg, #f3f4f6, #e0f2fe);

--font-primary: 'Inter', sans-serif;
--font-secondary: 'Lato', sans-serif;

}