:root {
--chart-background: #0c885f59;
--color-text: #000000;
--color-primary: hsl(123, 38%, 71%);
--color-secondary: hsl(178, 41%, 33%);
--color-background: #ade1e5;
--font-primary: 'Inter', sans-serif;
--font-secondary: 'Lato', sans-serif;
}
