.metricsContainer {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
}

.metricCard {
    background-color: var(--color-primary);
    color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    flex: 1;
    min-width: 100px;
    text-align: center;
}
