.metricsContainer {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 0;
}

.metricCard {
    background-color: var(--color-primary);
    color: white;
    padding: 5px;
    border-radius: 0.5rem;
    flex: 1 1 120px;
    min-width: 100px;
    max-width: 250px;
    text-align: center;
}

@media (max-width: 375px) {
    .metricCard {
        flex-wrap: wrap;
        font-size: 12px;
    }
    .metricsContainer {
        gap: 0.5rem;
        max-width: 375px;
    }
}