.chartContainer {
  width: 100%;
  height: 350px;
  z-index: 3;
  background: var(--chart-background);
  padding: 10px;
  border-radius: 1.5rem;
}

@media (max-width: 375px) {
    .chartContainer {
      justify-content: center;
      height: 250px;
    }
}