.chartContainer {
  width: 100%;
  height: 350px;
  background: var(--chart-background);
  padding: 6px;
  border-radius: 1.5rem;
  margin-top: 30px;
  margin-bottom: 30px;
  /* margin: 0 auto; */
}

@media (max-width: 375px) {
    .chartContainer {
      justify-content: center;
      height: 250px;
    }
}